<!doctype html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=forumName%></h1>
    <p><a href="about">About <%=forumName%></a></p>
    <p><a href="topiclist">Topics <%=forumName%></a></p>
    <p><a href="userlist">Users <%=forumName%></a></p>
    <p><a href="addpost"> Add a post <%=forumName%></a></p>
    <p><a href="postlist">Posts <%=forumName%></a></p>
  </body>
</html>
